<html>
    <header>
    <h1 style="background-color:rgba(235, 129, 247, 0.56);">Transaction Complete</h1>
</header>
<div>
<style>
header, footer {
  padding: 2em;
  color: #855C85;
  background-color: rgba(235, 129, 247, 0.56);
  clear: left;
  text-align: center;
}
</style> 
    <body>
        <table style="width:100%; border-collapse: collapse; text-align: center;  ">
            <tr style = "color:rgba(235, 129, 247, 0.56)d">
                <th>name {{ firstname}}</th>
                <th>AccountID {{ accountID}}</th> 
                <th>Point {{point}} point</th>
            </tr>
        </table>    
        <!--h2 style="background-color:rgba(235, 129, 247, 0.56); color:rgb(255, 255, 255); text-align: left;">NAME:  Account ID : Point:</h2-->
        <!--<h2 style="color:rgb(153, 0, 255); text-align: center; "></h2-->
        
        <div>
            <h2 style="color:rgb(7, 6, 6); text-align: center;"> POINT</h2>
                    
        </div>
        <div>
            <h2 style="color:rgb(7, 6, 6); text-align: center;"> You have redemmed a 50 % code</h2>       
        </div>
        <div>
            <h2 style="color:rgb(7, 6, 6); text-align: center;"> Your code is</h2>  
        </div>
        <br/>
        <br/>
        <!--<form action="{{url_for('result')}}" method="post">
            <input type="submit" value="Finish">
        </form>-->
    
        
    </body>
    </html>