
<html>
  <head>
        <title> KMITL WALLET</title>
      <!--  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
     <div class="jumbotron" style="background-color:#66CC99">
      <h1>KMITL WALLET </h1>
      <p> กลุ่มนี้มี GAG. </p>
    </div>
    <center>
        <img src="/static/images/1.jpg" alt="Mountain View" style="width:284px;height:228px;">
    </center>

    <br>
    <center>
    <form action="{{ url_for('result')}}" method="post">
      Serial Number<br>
      <input type="text" name="lastname"><br><br>
      <input type="submit" value="Submit" class="btn btn-success btn-lg">
    </form>
  </center>
  </body>
</html>
